<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asma's Portfolio</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <button class="menu-toggle" onclick="toggleNav()">☰</button>

    <!-- Hero Section -->
    <section class="hero">
    <div class="hero-content">
        <div class="text">
            <h1>Hi, I'm <span style="color:#007bff;">Asma Kazi</span> 👋</h1>
            <p>Building. Learning. Growing.</p>
            <p>A Computer Science and Engineering student who loves building practical solutions with 
                <b>Java, Python, and web development</b>. 
                I believe technology is not just about code, but about creating value that lasts.
            </p>
            <!-- 📄 Resume Button -->
            <a href="/ASMA.pdf" target="_blank" class="btn">📄 View Resume</a>
        </div>

        <div class="photo">
            <img src="/images/Profile-removebg.png" alt="My Photo">
        </div>
    </div>
</section>


    <!-- Vertical Navigation Icons -->
<div th:replace="fragments/vertical-nav :: verticalNav"></div>

    </div>

    


</body>
</html>
